<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="./main_chatroom">Enter main chatroom</a> <br />
    <a href="./create_chatroom">Create new chatroom</a>

  </body>
</html>