<!DOCTYPE html>
<html>
 <head>
     <script type='text/javascript' src="javascripts/jquery-2.1.0.js"></script>
     <script type="text/javascript" src='/socket.io/socket.io.js' ></script>
     <script type="text/javascript" src="javascripts/my_socket.js"></script>
 </head>


 <body>
    <form actio="/msg" method="post">
        Your name: <input type="text" name="name" id="name">
        <input type="submit" value="post">
    </form>

 </body>

</html>